/* leaves container is fixed to cover the whole viewport */
.leavesContainer {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    text-align: right;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

.leaf {
    display: inline-block;
    width: 12.5rem;
    height: 9.375rem;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    -webkit-animation: falling 25s linear infinite;
    -moz-animation: falling 25s linear infinite;
    animation: falling 25s linear infinite;
}

.leaf:before {
    position: absolute;
    content: '';
    top: 117px;
    right: 9px;
    height: 27px;
    width: 32px;
    transform: rotate(49deg);
    border-radius: 0% 15% 15% 0%;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    border-left: 0px solid #222;
    border-right: 1px solid #222;
    background: linear-gradient(to right, rgba(0, 100, 0, 1), #005600);
    z-index: 1;
}

.leaf:after {
    content: '';
    height: 125px;
    width: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0));
    display: block;
    transform: rotate(125deg);
    position: absolute;
    left: 85px;
    border-radius: 50%;
}

.leaf:nth-of-type(n) {
    height: 23px;
    width: 30px;
}

.leaf:nth-of-type(n):before {
    width: 7px;
    height: 5px;
    top: 17px;
    right: 1px;
}

.leaf:nth-of-type(n):after {
    width: 2px;
    height: 17px;
    left: 12px;
    top: 0px;
}

.leaf:nth-of-type(2n+1) {
    height: 11px;
    width: 16px;
}

.leaf:nth-of-type(2n+1):before {
    width: 4px;
    height: 3px;
    top: 7px;
    right: 0px;
}

.leaf:nth-of-type(2n+1):after {
    width: 2px;
    height: 6px;
    left: 5px;
    top: 1px;
}

.leaf:nth-of-type(3n+2) {
    height: 17px;
    width: 23px;
}

.leaf:nth-of-type(3n+2):before {
    height: 4px;
    width: 4px;
    top: 12px;
    right: 1px;
}

.leaf:nth-of-type(3n+2):after {
    height: 10px;
    width: 2px;
    top: 1px;
    left: 8px;
}

@-webkit-keyframes falling {
    0% {
        -webkit-transform:
            translate3d(300, 0, 0) rotate(0deg);
    }

    100% {
        -webkit-transform:
            translate3d(-350px, 100vh, 0) rotate(90deg);
        opacity: 0;
    }
}

@keyframes falling {
    0% {
        transform:
            translate3d(300, 0, 0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform:
            translate3d(-350px, 100vh, 0) rotate(90deg);
        opacity: 0;
    }
}

/* wrapper and content helpers */
.bgWrapper {
    position: relative;
    min-height: 100vh;
}

.bgContent {
    position: relative;
    z-index: 1;
}
